@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    ACME Company<br />
    1234 Main St. Topeka, KS 66614<br />
    <abbr title="Phone">P:</abbr>
    785.234.1234
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@acme.com">Support@acme.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@acme.com">Marketing@acme.com</a>
</address>
